<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="StudentInfoSystem_.Properties.Settings.DbConnect"
            connectionString="Data Source=LAPTOP-7FU33T3A;Initial Catalog=StudentInfoDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>